/* Created by http://freehtml5templates.com */

/* reset */
* {
margin: 0;
padding: 0;
}


header, footer, section, aside, nav, article {
display: block;
}

body {
line-height: 1;
background: #111;
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #666;
font-size: 12px;
line-height: 18px;
}
	
/* main layout */

#wrapper {
width: 940px;
margin: 0 auto;
margin-top: 10px;
margin-bottom: 20px;
}


header {
width: 940px;
height: 157px;
margin: 0 auto;
background: #1d1d1d url(images/header.png) no-repeat left top;
}

#main {
width: 940px;
margin: 0 auto;
background: #FFF;
overflow: hidden;
}

#content {
float: right;
width: 940px;
}

footer {
width: 940px;
margin: 0 auto;
clear: both;
}

/* basics */

h1,h2,h3,h4,h5,h6 {
font-weight: bold;
clear: both;
}

a:link, a:visited {
color:#F39;
text-decoration: none;
}

a:hover, a:active {
text-decoration: underline;
}

p {
margin-bottom: 18px;
}

li {
padding-left: 5px;
}


/** HEADER */

header h1 {
text-align: center;
margin-top: -50px;
color: #eee;
}

header h1 { 	
font-size: 36px;
font-variant:  small-caps;
}

header h1 a:link, header h1 a:visited {
color: #fff;
}

/** ARTICLES **/

article {
padding: 20px 30px 5px 40px;
}

article img {
border: none;
}

#content h1, h2, h3, h4, h5, h6 {
color: #F0C;
line-height: 1.5em;
margin: 0 20px 20px 0;
}

#content h1, h2, h3 {
padding-left: 10px;
}

.alignleft, img.alignleft {
display: inline;
float: left;
margin-right: 24px;
margin-top: 4px;
}

.alignright, img.alignright {
display: inline;
float: right;
margin-left: 24px;
margin-top: 4px;
}

.aligncenter, img.aligncenter {
clear: both;
display: block;
margin-left: auto;
margin-right: auto;
}

img.alignleft, img.alignright, img.aligncenter {
margin-bottom: 12px;
}


/* footer  blocks */

aside h3 {
font-size: 18px;
}

aside ul {
list-style: none;
margin-bottom: 20px;
margin-top: -15px;
}

aside li a {
display: block;
text-decoration: none;
}

aside li a:hover {
text-decoration: underline;
}

#footer-area {
background: #000;
color: #F3F;
font-size: 98%;
padding: 18px 0;
overflow: hidden;
}

.footer-segment {
float: left;
width: 190px;
}

.first {
margin-right: 20px;
margin-left: 40px;
}

.second {
margin-right: 30px;
}

.third {
margin-right: 30px;
}

.last {
margin-right: 20px;
}

footer aside h4 {
color: #FFF;
font-size: 14px;
line-height: 1.5em;
}

footer a:link, footer a:visited {
color: #F09;
}

footer p {
margin-top: -15px;
color: #ddd;
}* { margin: 0; padding: 0; }

/** Navigation */
.nav-wrap { margin: 0px auto;  background-color: rgba(0,0,0,0.6); border-top: none; border-bottom: 2px solid white; }

.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
*:first-child+html .group { zoom: 1; } /* IE7 */

#example-one { margin: 0 auto; list-style: none; position: relative; width: 940px; }
#example-one li { display: inline; }
#example-one li a { color: #bbb; font-size: 14px; display: block; float: left; padding: 6px 10px 4px 10px; text-decoration: none; text-transform: uppercase; }
#example-one li a:hover { color: white; }
#magic-line { position: absolute; bottom: -2px; left: 0; width: 150px; height: 2px; background: #ca1f7e; }

#example-two { margin: 0 auto; list-style: none; position: relative; width: 940px; }
#example-two li { display: inline; }
#example-two li a { position: relative; z-index: 200; color: #bbb; font-size: 14px; display: block; float: left; padding: 6px 10px 4px 10px; text-decoration: none; text-transform: uppercase; }
#example-two li a:hover { color: #F06; }
#example-two #magic-line-two { position: absolute; top: 0; left: 0; width: 100px; background: rgba(220, 133, 5, 0.9); z-index: 100; }

.current_page_item a, .current_page_item_two a { color: white !important; }


/** CONTENT */

.box-wrapper { -moz-box-shadow: 0 0 20px black; -webkit-box-shadow: 0 0 20px black; padding: 20px; background: white; border: 1px solid #ccc; margin: -1px 0 0 0; height: 210px; position: relative; }
.content-box { overflow: hidden; position: absolute; top: 20px; left: 20px; width: 658px; height: 230px; }

.current { }

.col-one, .col-two, .col-three { width: 30%; float: left; position: relative; top: 400px; }
.col-one, .col-two { margin-right: 3%; }
